.common-projects-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.common-projects-table th,
.common-projects-table td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: center;
}

.common-projects-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 18px;
}

.common-projects-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.common-projects-table tr:hover {
  background-color: #d5d5d5;
  transition: background-color 0.3s;
}
